@charset "ISO-8859-1";
* {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	/*line-height: 13px;*/
	/*color: #333333;*/
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
}
#wrapper {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 13px;
}
#logo {
	height: 110px;
	width: 355px;
}
#header {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	height: 110px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("/theme/themeV2/images/header_940x110_v2.png");
}

#headerLogout {
	position: relative;
	left: 276px;
	top: -107px;
	z-index: 50;
	font-weight: bold;
	color: white;
	width: 350px;
	text-align: right;	
	margin-right: auto;
	margin-left: auto;
}


#content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: repeat-y;
	background-position: left top;
	background-image: url("/theme/themeV2/images/shadow.png");
}
#whitebox {
	background-color: #FFFFFF;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("/theme/themeV2/images/whiteBox_backgrd_900x75.png");
}
#footer {
	height: 50px;
	background-repeat: no-repeat;
	background-position: left top;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url("/theme/themeV2/images/footer_bckgrd_v4.png");
}
#clear {
	clear: both;
}
#nav {
	width: 160px;
	padding-left: 10px;
	padding-top: 10px;
	float: left;
}
#leftNavList ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#leftNavList li {
	margin: 0;
}
#leftNavList a {
	display: block;
	width: 160px;
	background-color: #e6e6e6;
	color: #00499a;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000000;
	text-indent: 10px;
}
#leftNavList a:hover{
	width: 160px;
	background-color: #00529b;
	color: #FFF;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000000;
}
#active   a {
	display: block;
	width: 160px;
	background-color: #00529b;
	color: #FFF;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000000;
	font-weight: bold;
	text-indent: 10px;
}
#leftNavList .blkHeader {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	padding-top: 7px;
	padding-bottom: 7px;
	display: block;
	width: 160px;
	text-indent: 10px;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("/theme/themeV2/images/navHeaderBckgrd.png");
}
#pageContent {
	float: right;
	width: 745px;
	padding-right: 10px;
	margin-top: 15px;
}
#pageContent2 {
	float: right;
	width: 745px;
	padding-right: 10px;
	margin-top: 15px;
}
#pageContent70 {
	float: left;
	width: 385px;
	padding-right: 10px;
}

#pageContent30 {
	float: right;
	width: 310px;
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #666666;	
}

#pageContent50Left {
	float: left;
	width: 350px;
/*	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #666666;  */
	padding-right: 15px;
}

#pageContent50Right {
	float: right;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}

#pageContent800w {
	float: right;
	width: 800px;
	padding-right: 10px;
	margin-top: 15px;
}

#pageContent500px {
	float: left;
	width: 500px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #666666;
	padding-right: 15px;
}

#pageContent300px {
	float: right;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
}

#pageContentEEOrderEntryLeft {
	float: left;
	width: 480px;
	padding-right: 15px;
}

#pageContentEEOrderEntryRight {
	float: right;
	width: 240px;
	padding-right: 5px;
}

#pageContent p {
	font-size: 12px;
	line-height: 13px;
	color: #333333;
	margin-bottom: 10px;
}

#pageContent a:link {
	color: #00529b;
	text-decoration: none;
}
#pageContent a:visited {
	color: #00529b;
	text-decoration: none;
}
#pageContent a:hover {
	color: #333333;
	text-decoration: none;
}
#pageContent ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 15px;
}
#pageContent li {
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: left 3px;
	margin-bottom: 5px;
	background-image: url("/theme/themeV2/images/blue_bullet_6x6.gif");
}
#pageContent   img  {
	float: right;
	padding-left: 25px;
}
.pageContentImg {
	float: right;
	padding-left: 15px;
}
#pageContentLeftButton img {
	height: 30px;
	width: 125px;
	float: left;
	padding-left: 10px;
}
#pageContentLeftButtonV2 img {
	height: 30px;
	float: left;
	padding-left: 0px;
}

#pageContentRightButtonV2 img {
	height: 30px;
	width: 270px;
	float: right;
	padding-left: 0px;
}

#PageContentGrayTextBox {
	background-color: #e6e6e6;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #666666;
	border-bottom-color: #666666;
	padding: 10px;
	margin-top: 20px;
	width: 450px;
	height: auto;
}
#PageContentGrayTextBox2 {
	background-color: #e6e6e6;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #666666;
	border-bottom-color: #666666;
	padding: 10px;
	margin-top: 20px;
	width: auto;
	height: auto;
	clear: both;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-bottom: 5px;
	padding-top: 0px;
	letter-spacing: -1px;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
	letter-spacing: -1px;
}
#accountInformationBox {
	background-color: #CCCCCC;
	padding-top: 10px;
	padding-left: 10px;
}
#orderFormBox {
	background-color: #CCCCCC;
	padding-top: 10px;
	padding-left: 10px;
}

.orderBox {
	background-color: #CCCCCC;
	padding-top: 10px;
	padding-left: 10px;
}

.orderBox table {
	background-color: #CCCCCC;
}

.orderBox tr {
	background-color: #CCCCCC;
}

.orderBox td {
	background-color: #CCCCCC;
}

#orderFormBoxThankYou {
	background-color: #CCCCCC;
	width: 375px;
	padding-top: 10px;
	padding-left: 10px;
}

#footerContent {
	width: 940px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 25px;
}
#footerContent ul {
	margin: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#pageContent2 ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 15px;
}
#footerContent li {
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 14px;
}
#pageContent2 li {
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: left 3px;
	margin-bottom: 5px;
	background-image: url("/theme/themeV2/images/blue_bullet_6x6.gif");
}
#footerContent a:link {
	color: #00529b;
	text-decoration: none;
}
#footerContent a:visited {
	color: #00529b;
	text-decoration: none;
}
#footerContent a:hover {
	color: #666666;
	text-decoration: none;
}
#footerContent li.last {
	padding-right: 10px;
	border-right-style: none;
}
/**************************************/
/* Additions */
#leftNavList TD {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.h1FacesStyle {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0px;
}

.h1FacesStyleTable {
	font-size: 24px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-bottom: 5px;
	padding-top: 0px;
	letter-spacing: -1px;
	line-height: normal;
}

#pageContentRightButton img {
	height: 30px;
	width: 125px;
	float: left;
	padding-left: 10px;
}

.hideMe {
	display:none;
}

.showMe {
	display: inline; 
}

#disclaimerAreaID {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	color: white;
}

#disclaimerAreaID a {
	background-color: #00529b;
	color: #FFF;
	text-decoration: none;
	padding-left: 0px;
	font-weight: bold;
	text-indent: 10px;
}

#disclaimerAreaID a:hover{
	background-color: #00529b;
	color: blue ;
	text-decoration: none;
	padding-left: 0px;
	font-weight: bold;
	text-indent: 10px;
}

#pageContentNoMarginsButton img{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: none;
	width: 116px;
	height: 40px;
}

.panelThankYouPage_Header {
	font-family: Arial;
	font-size: 11pt;
	color: #4268b4;
	font-weight: bold;	
}

#popunder {
	background-color: white;
	opacity: 0.7;
	filter:alpha(opacity=70);
	position:absolute;
	left:0;
	top:0;
	width:125%;
	height:300%;	
	z-index:99999;
}
