/******************************************
  Navigation Trail Sample
  Specification file: horizontal-trail
 ******************************************/

.COMMENT-CLASS_table {
	border-width: 0px;
}

.COMMENT-CLASS_table_body {
}

.COMMENT-CLASS_table_row {
}

.COMMENT-CLASS_cell_normal {
    padding-top :3px;
	padding-bottom :3px;
	padding-left:4px;
	padding-right:4px;
	border-width:0px;
}

.COMMENT-CLASS_cell_separator {
}

.COMMENT-CLASS_item_normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC6600;
    font-size: 11px;
	font-weight: bold;
	text-transform: lowercase;
	text-decoration: none
}

.CLASS_cell_normal a:hover {
    color:#FF9933;
    font-size: 11px;
	font-weight: bold;
	text-transform: lowercase;
    text-decoration: underline;
}

