/******************************************
  Vertical Bar Sample
  Specification file: vertical-text
 ******************************************/

.COMMENT-CLASS_item_normal {
	padding : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2E67B4;
	font-weight: normal;
    font-size: 11px;
	text-transform: lowercase;
	text-decoration: none;
}

.COMMENT-CLASS_item_group {
	padding : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2E67B4;
	font-weight: bold;
	text-decoration: none;
    font-size: 11px;
	text-transform: uppercase;
}

.CLASS_item_normal {
	padding : 0px;
	padding-left: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2E67B4;
	font-weight: normal;
    font-size: 11px;
	/*text-transform: lowercase;*/
	text-decoration: none;
	line-height: 13px;
}

.CLASS_item_group {
	padding : 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #7a7a7a;
	font-weight: bold;
	text-decoration: none;
    font-size: 11px;
    padding-top: 0px;
	margin-top: 15px;
}
